<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature ==='Recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'Recipe'"></app-shopping-list>
    </div>
  </div>
  <!--<p appBasicHighlight>This is app basic highlight !</p>
  <p appBetterHighlight [defaultColor]="'yellow'" [highLightColor]="'red'">This is app better highlight !</p>
  <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'">This is app better highlight !</p>-->
</div>